<h3><%= @dish.name %></h3>
<p><%= @dish.description %></p>
<p> 
Ingrediants: <% @dish.ingrediants.each do |ingrediant| %> 
<%= ingrediant.name %>
<% end %>
</p>
<p>Calories: <%= @dish.ingrediants.calorie_count %></p>
<p> Chef: <%= @dish.chef.name %> </p>

<p>Add Ingrediant:</p>
<%= form_with url: "/dishes/#{@dish.id}/dishingrediants", method: :post, local: true do |f| %>
  <%= f.label :ingrediant_id %>
  <%= f.text_field :ingrediant_id %>

  <%= f.submit %>
<% end %>